/*--------------------------------------------------------------
# Core
--------------------------------------------------------------*/

/* COLORS */

/* Border radius */

/* Fonts */

/* set base value. You can change this value */

/* space scale */

/* Layout, width and gap */
:root {
	--smn--font__main: bw nista, sans-serif;
	--smn--font__heading: bw nista, sans-serif;
	--smn--color--primary: #0020c1;
	--smn--color--secondary: #212121;
	--smn--color--tertiary: #ffec00;
	--smn--color--body-main: #212121;
	--smn--color--body-medium: #76787c;
	--smn--color--body-link: #0020c1;
	--smn--color--body-link--hover: #0020c1;
	--smn--color--body-white: white;
	--smn--color--error: #f5414f;
	--smn--color--warning: #ffec00;
	--smn--color--success: #88c459;
	--smn--color--white: white;
	--smn--color--gray: #76787c;
	--smn--color--gray-dark: #212121;
	--smn--color--light: #e9ecef;
}

.grid-columns-2 {
	display: grid;
	gap: calc(2 * 1rem);
	grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-2 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.grid-columns-3 {
	display: grid;
	gap: calc(2 * 1rem);
	grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-3 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.grid-columns-4 {
	display: grid;
	gap: calc(2 * 1rem);
	grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-4 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.grid-columns-5 {
	display: grid;
	gap: calc(2 * 1rem);
	grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-5 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.grid-columns-6 {
	display: grid;
	gap: calc(2 * 1rem);
	grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-6 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.grid-columns-7 {
	display: grid;
	gap: calc(2 * 1rem);
	grid-template-columns: repeat(7, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-7 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.grid-columns-8 {
	display: grid;
	gap: calc(2 * 1rem);
	grid-template-columns: repeat(8, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-8 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.grid-columns-9 {
	display: grid;
	gap: calc(2 * 1rem);
	grid-template-columns: repeat(9, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-9 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.has-primary-color {
	color: #0020c1;
}

.has-primary-background-color {
	background-color: #0020c1;
}

.has-secondary-color {
	color: #212121;
}

.has-secondary-background-color {
	background-color: #212121;
}

.has-tertiary-color {
	color: #ffec00;
}

.has-tertiary-background-color {
	background-color: #ffec00;
}

.has-white-color {
	color: white;
}

.has-white-background-color {
	background-color: white;
}

.has-light-color {
	color: #e9ecef;
}

.has-light-background-color {
	background-color: #e9ecef;
}

.has-gray-color {
	color: #76787c;
}

.has-gray-background-color {
	background-color: #76787c;
}

.has-gray-dark-color {
	color: #212121;
}

.has-gray-dark-background-color {
	background-color: #212121;
}

.has-primary-100-color {
	color: #0020c1;
}

.has-primary-100-background-color {
	background-color: #0020c1;
}

.has-primary-80-color {
	color: #212121;
}

.has-primary-80-background-color {
	background-color: #212121;
}

.has-primary-60-color {
	color: #76787c;
}

.has-primary-60-background-color {
	background-color: #76787c;
}

.has-primary-40-color {
	color: #76787c;
}

.has-primary-40-background-color {
	background-color: #76787c;
}

.has-primary-20-color {
	color: #e9ecef;
}

.has-primary-20-background-color {
	background-color: #e9ecef;
}

/* helpers margin top & bottom */
.mt-05 {
	margin-top: calc(0.5 * 1rem);
}

.mt-1 {
	margin-top: 1rem;
}

.mt-2 {
	margin-top: calc(1.5 * 1rem);
}

.mt-3 {
	margin-top: calc(2 * 1rem);
}

.mt-4 {
	margin-top: calc(2.5 * 1rem);
}

.mt-5 {
	margin-top: calc(3.5 * 1rem);
}

.mt-6 {
	margin-top: calc(4 * 1rem);
}

.mt-7 {
	margin-top: calc(4.5 * 1rem);
}

.mt-8 {
	margin-top: calc(5 * 1rem);
}

.mt-9 {
	margin-top: calc(6 * 1rem);
}

.mt-10 {
	margin-top: calc(7 * 1rem);
}

.mb-05 {
	margin-bottom: calc(0.5 * 1rem);
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: calc(1.5 * 1rem);
}

.mb-3 {
	margin-bottom: calc(2 * 1rem);
}

.mb-4 {
	margin-bottom: calc(2.5 * 1rem);
}

.mb-5 {
	margin-bottom: calc(3.5 * 1rem);
}

.mb-6 {
	margin-bottom: calc(4 * 1rem);
}

.mb-7 {
	margin-bottom: calc(4.5 * 1rem);
}

.mb-8 {
	margin-bottom: calc(5 * 1rem);
}

.mb-9 {
	margin-bottom: calc(6 * 1rem);
}

.mb-10 {
	margin-bottom: calc(7 * 1rem);
}

.mr-05 {
	margin-right: calc(0.5 * 1rem);
}

.mr-1 {
	margin-right: 1rem;
}

.mr-2 {
	margin-right: calc(1.5 * 1rem);
}

.mr-3 {
	margin-right: calc(2 * 1rem);
}

.mr-4 {
	margin-right: calc(2.5 * 1rem);
}

.mr-5 {
	margin-right: calc(3.5 * 1rem);
}

.mr-6 {
	margin-right: calc(4 * 1rem);
}

.mr-7 {
	margin-right: calc(4.5 * 1rem);
}

.mr-8 {
	margin-right: calc(5 * 1rem);
}

.mr-9 {
	margin-right: calc(6 * 1rem);
}

.mr-10 {
	margin-right: calc(7 * 1rem);
}

.ml-05 {
	margin-left: calc(0.5 * 1rem);
}

.ml-1 {
	margin-left: 1rem;
}

.ml-2 {
	margin-left: calc(1.5 * 1rem);
}

.ml-3 {
	margin-left: calc(2 * 1rem);
}

.ml-4 {
	margin-left: calc(2.5 * 1rem);
}

.ml-5 {
	margin-left: calc(3.5 * 1rem);
}

.ml-6 {
	margin-left: calc(4 * 1rem);
}

.ml-7 {
	margin-left: calc(4.5 * 1rem);
}

.ml-8 {
	margin-left: calc(5 * 1rem);
}

.ml-9 {
	margin-left: calc(6 * 1rem);
}

.ml-10 {
	margin-left: calc(7 * 1rem);
}

.pt-05 {
	padding-top: calc(0.5 * 1rem);
}

.pt-1 {
	padding-top: 1rem;
}

.pt-2 {
	padding-top: calc(1.5 * 1rem);
}

.pt-3 {
	padding-top: calc(2 * 1rem);
}

.pt-4 {
	padding-top: calc(2.5 * 1rem);
}

.pt-5 {
	padding-top: calc(3.5 * 1rem);
}

.pt-6 {
	padding-top: calc(4 * 1rem);
}

.pt-7 {
	padding-top: calc(4.5 * 1rem);
}

.pt-8 {
	padding-top: calc(5 * 1rem);
}

.pt-9 {
	padding-top: calc(6 * 1rem);
}

.pt-10 {
	padding-top: calc(7 * 1rem);
}

.pb-05 {
	padding-bottom: calc(0.5 * 1rem);
}

.pb-1 {
	padding-bottom: 1rem;
}

.pb-2 {
	padding-bottom: calc(1.5 * 1rem);
}

.pb-3 {
	padding-bottom: calc(2 * 1rem);
}

.pb-4 {
	padding-bottom: calc(2.5 * 1rem);
}

.pb-5 {
	padding-bottom: calc(3.5 * 1rem);
}

.pb-6 {
	padding-bottom: calc(4 * 1rem);
}

.pb-7 {
	padding-bottom: calc(4.5 * 1rem);
}

.pb-8 {
	padding-bottom: calc(5 * 1rem);
}

.pb-9 {
	padding-bottom: calc(6 * 1rem);
}

.pb-10 {
	padding-bottom: calc(7 * 1rem);
}

.pl-05 {
	padding-left: calc(0.5 * 1rem);
}

.pl-1 {
	padding-left: 1rem;
}

.pl-2 {
	padding-left: calc(1.5 * 1rem);
}

.pl-3 {
	padding-left: calc(2 * 1rem);
}

.pl-4 {
	padding-left: calc(2.5 * 1rem);
}

.pl-5 {
	padding-left: calc(3.5 * 1rem);
}

.pl-6 {
	padding-left: calc(4 * 1rem);
}

.pl-7 {
	padding-left: calc(4.5 * 1rem);
}

.pl-8 {
	padding-left: calc(5 * 1rem);
}

.pl-9 {
	padding-left: calc(6 * 1rem);
}

.pl-10 {
	padding-left: calc(7 * 1rem);
}

.pr-05 {
	padding-right: calc(0.5 * 1rem);
}

.pr-1 {
	padding-right: 1rem;
}

.pr-2 {
	padding-right: calc(1.5 * 1rem);
}

.pr-3 {
	padding-right: calc(2 * 1rem);
}

.pr-4 {
	padding-right: calc(2.5 * 1rem);
}

.pr-5 {
	padding-right: calc(3.5 * 1rem);
}

.pr-6 {
	padding-right: calc(4 * 1rem);
}

.pr-7 {
	padding-right: calc(4.5 * 1rem);
}

.pr-8 {
	padding-right: calc(5 * 1rem);
}

.pr-9 {
	padding-right: calc(6 * 1rem);
}

.pr-10 {
	padding-right: calc(7 * 1rem);
}

.pa-05 {
	padding: calc(0.5 * 1rem);
}

.pa-1 {
	padding: 1rem;
}

.pa-2 {
	padding: calc(1.5 * 1rem);
}

.pa-3 {
	padding: calc(2 * 1rem);
}

.pa-4 {
	padding: calc(2.5 * 1rem);
}

.pa-5 {
	padding: calc(3.5 * 1rem);
}

.pa-6 {
	padding: calc(4 * 1rem);
}

.pa-7 {
	padding: calc(4.5 * 1rem);
}

.pa-8 {
	padding: calc(5 * 1rem);
}

.pa-9 {
	padding: calc(6 * 1rem);
}

.pa-10 {
	padding: calc(7 * 1rem);
}

/*--------------------------------------------------------------
# All Gutenberg Blocks
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.accordion-block .accordion-btn {
	background-color: var(--smn--color--primary);
	cursor: pointer;
	width: 100%;
	border: none;
	border-radius: 0;
	text-align: left;
	outline: none;
	transition: 0.4s;
	justify-content: start;
	padding: 1rem calc(1.5 * 1rem);
	position: relative;
	margin-bottom: 1px;
	color: var(--smn--color--body-main);
}

.accordion-block .accordion-btn:hover,
.active .accordion-block .accordion-btn {
	background-color: var(--smn--color--primary);
	color: var(--smn--color--white);
}

.accordion-block .accordion-btn h3 {
	font-size: 1.25rem;
	margin: 0;
}

.accordion-block .accordion-btn span {
	line-height: 1.8;
}

.accordion-block .accordion-btn > div {
	width: 72rem;
	margin: 0 auto;
}

.accordion-block .accordion-btn span::before {
	content: "\002B";
	color: var(--smn--color--body-white);
	background-color: var(--smn--color--primary);
	border-radius: 100%;
	font-size: 1.25rem;
	width: calc(2.5 * 1rem);
	height: calc(2.5 * 1rem);
	margin-right: calc(0.5 * 1rem);
	float: left;
	text-align: center;
}

.accordion-block .active span::before {
	content: "\2212";
	background-color: var(--smn--color--secondary);
}

.accordion-block .panel {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.wp-block-button:not(.is-style-with-icon) .wp-block-button__link {
	display: inline-flex;
	position: relative;
	text-decoration: none;
	line-height: 1;
	font-weight: bold;
	transition: all 0.3s ease;
	border-radius: 6px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-family: "BW Nista", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0.8125rem calc(2 * 1rem);
	opacity: 0.9;
}

.wp-block-button:not(.is-style-with-icon) .wp-block-button__link:hover {
	opacity: 1;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
	color: var(--smn--color--primary);
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover {
	color: inherit;
}

.wp-block-button__link:not(.has-text-color) {
	background-color: var(--smn--color--primary);
}

.is-style-card,
.is-style-card-link {
	border: 1px solid var(--smn--color--light);
	padding: calc(1.5 * 1rem);
	position: relative;
	border-radius: 6px;
	width: 100%;
}

.is-style-card-link {
	box-shadow: 0 16px 24px 0 rgba(50, 50, 50, 0.06);
}

.is-style-card-link:hover {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.1), 0 3px 14px 2px rgba(0, 0, 0, 0.1), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.is-style-card-link::after {
	content: "";
	background: url(./assets/icons/arrow-link.svg);
	background-size: calc(2 * 1rem) calc(2 * 1rem);
	width: calc(2 * 1rem);
	height: calc(2 * 1rem);
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 0;
}

.is-style-card-link a {
	color: #212121 !important;
}

.is-style-card-link a::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.is-style-card .card-img {
	border-radius: 6px 6px 0 0;
}

.is-style-card .card-img img {
	border-radius: 6px 6px 0 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-height: 12.75rem;
}

.wp-block-gallery.has-nested-images figure.wp-block-image img {
	width: fit-content;
}

.wp-block-gallery.aligncenter img {
	align-self: center;
}

.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Layout container */
.entry-content .alignfull > .wp-block-group__inner-container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 2rem;
	padding-left: 2rem;
}

@media only screen and (min-width: 80em) {

	.entry-content .alignfull > .wp-block-group__inner-container {
		max-width: 80rem;
	}
}

@media only screen and (min-width: 90.0625em) {

	.entry-content .alignfull > .wp-block-group__inner-container {
		width: 88rem;
	}
}

.wp-block-columns .wp-block-column.has-background {
	padding: calc(2 * 1rem);
	margin-bottom: 0;
}

.wp-block-columns .wp-block-column.has-background h2,
.wp-block-columns .wp-block-column.has-background h3,
.wp-block-columns .wp-block-column.has-background h4,
.wp-block-columns .wp-block-column.has-background h5,
.wp-block-columns .wp-block-column.has-background h6,
.wp-block-columns .wp-block-column.has-background p,
.wp-block-columns .wp-block-column.has-background ul,
.wp-block-columns .wp-block-column.has-background ol {
	margin-bottom: 0;
}

.wp-block-group.has-background h2,
.wp-block-group.has-background h3,
.wp-block-group.has-background h4,
.wp-block-group.has-background h5,
.wp-block-group.has-background h6,
.wp-block-group.has-background p,
.wp-block-group.has-background ul,
.wp-block-group.has-background ol {
	margin-bottom: 0;
}

.wp-block-group .wp-block-columns {
	margin-bottom: 0;
}

.wp-block-group .wp-block-columns .wp-block-columns {
	margin-bottom: calc(2.5 * 1rem);
}

ul,
ol {
	margin: 1rem;
	padding: 0;
}

ul li,
ol li {
	padding-bottom: 1rem;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1rem;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1rem 1rem;
}

ul.is-style-arrow-list,
ul.wp-block-list {
	list-style: none;
	position: relative;
	padding: 0;
}

ul.is-style-arrow-list li,
ul.wp-block-list li {
	position: relative;
	padding-left: 24px;
}

ul.is-style-arrow-list li::before,
ul.wp-block-list li::before {
	display: inline-flex;
	content: "";
	position: absolute;
	left: 0;
	top: 0.5em;
	background-image: url(assets/icons/arrow-right.svg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 0.5rem;
	height: 0.5rem;
	padding-right: 1rem;
}

ol.is-style-numbers-list,
ol.wp-block-list {
	list-style: none;
	counter-reset: my-awesome-counter;
}

ol.is-style-numbers-list li,
ol.wp-block-list li {
	position: relative;
	counter-increment: my-awesome-counter;
	margin-left: 24px;
}

ol.is-style-numbers-list li::before,
ol.wp-block-list li::before {
	content: counter(my-awesome-counter);
	color: white;
	position: absolute;
	--size: 24px;
	left: calc(-1 * var(--size) - 12px);
	line-height: var(--size);
	width: var(--size);
	height: var(--size);
	top: 0;
	background: var(--smn--color--primary);
	text-align: center;
}

.wp-block-query .wp-block-post-title a {
	color: var(--smn--color--primary);
}

.wp-block-query .wp-block-post-title a:hover {
	color: var(--smn--color--secondary);
}

.wp-block-quote {
	margin-top: calc(4 * 1rem);
	margin-bottom: calc(4 * 1rem);
	border-color: var(--smn--color--primary);
}

.wp-block-quote p {
	margin-bottom: 0.5em;
	font-size: 1.25rem;
}

.wp-block-quote cite {
	font-size: 80%;
	font-weight: bold;
}

.wp-block-separator {
	opacity: 1;
}

.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
	height: 8px;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	width: 168px;
	color: var(--smn--color--primary);
	border-bottom: 8px solid;
}

.components-resizable-box__container.block-library-spacer__resize-container {
	background-color: var(--smn--color--light);
}

.components-resizable-box__container.block-library-spacer__resize-container::before {
	content: attr(data-spaceheight);
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}

html:where(.editor-styles-wrapper) {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.wp-block {
	max-width: 592px;
}

.wp-block[data-align="full"] {
	max-width: none;
}

.wp-block[data-align="wide"] {
	max-width: none;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}
