/* helpers backgorund & text colors */
.bg-primary {
    background-color: color(primary);
    color: color(body-white);
    a {color: color(body-white);}
}

.bg-primary-dark {
    background-color: color(primary)-dark;
    color: color(body-white);
    a {color: color(body-white);}
}

.bg-secondary {
    background-color: color(secondary);
    color: color(body-white);
}

.bg-primary-light {
    background-color: color(primary-20);
}

.bg-white {
    background-color: color(body-white);
}

