#page {
	position: relative;
 	display: grid;
	grid-template-columns: 280px 1fr 1fr;
	//grid-auto-flow: row;
	grid-template-areas:
	  "site-header site-main site-main"
	  "site-header site-main site-main"
	  "site-footer site-footer site-footer";

	@include breakpoint(tablet) {
		display: block;
	}
  	
	.site-header {
		grid-area: site-header;
		padding-right: $space-2;
		border-right: 1px solid color(primary-20);

		@include breakpoint(tablet) {
			border-right: none;
			padding-right: 0;
		}

	}

	.header-contact {
		@include breakpoint(tablet) {
			text-align: right;
			span {
				display: none;
			}
		}
	}

	.site-main {
		grid-area: site-main;
		padding-left: 136px;
		@include breakpoint(mobile) {
			padding-left: initial;
		}
	}

	.site-footer { grid-area: site-footer; }
}