/* COLORS */
$primary-colors: (
    primary: #0020C1,
    primary-100: #202945,
    primary-80: #1D70B7,
    primary-60: #4984B7,
    primary-40: #6E95B7,
    primary-20: #92A6B7,
);

$secondary-colors: (
    secondary: #FFAE0F,
    secondary-100: #FFC25E,
    secondary-80: #FFEC00,
    secondary-60: #FFF466,
    secondary-40: #FFF799,
    secondary-20: #FFFBCC,
);

$accent-colors: (
    accent-green: #93C01F,
    accent-purple: #941B80,
    accent-magenta: #D60B51,
    accent-pink: #FFC5DF,
);

$text-colors: (
    body-main: #1A1A1A,
    body-medium: #76787C,
    body-link: #0020C1,
    body-link--hover: #1D70B7,
    body-white: white,
);

$feedback-colors: (
    color-error: #FF0000,
    color-warning: #FFD11C,
    color-info: #3CB4FA,
);


$background-colors: (
    white: white,
);

// Function to merge all maps in a collection
@function map-collect($maps...) {
    $collection: ();
  
    @each $map in $maps {
      $collection: map-merge($collection, $map);
    }
    @return $collection;
}

$allColors: map-collect($primary-colors, $secondary-colors, $accent-colors, $text-colors, $background-colors, $feedback-colors); 
$gutenbergColors: map-collect($primary-colors, $secondary-colors, $accent-colors, $background-colors); 

// Get a value from map. How to use: .class { color: color(primary) } 
@function color($key) {
    @return map-get($allColors, $key);
}

/* Border radius */
$border__radius: 24px;

/* Fonts */
$font__main: 'BW Nista', sans-serif;
$font__heading: 'BW Nista', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-header: 1.2;
$font__line-height-pre: 1.6;


/* set base value. You can change this value */
$space__unit: 1rem;

/* space scale */
$space-05: calc(0.5 * #{$space__unit}); // 8px
$space-1: $space__unit; // 16px
$space-2: calc(1.5 * #{$space__unit}); // 24px
$space-3: calc(2 * #{$space__unit}); // 32px
$space-4: calc(2.5 * #{$space__unit}); // 40px

$space-5: calc(3.5 * #{$space__unit}); // 56px
$space-6: calc(4 * #{$space__unit}); // 64px
$space-7: calc(4.5 * #{$space__unit}); // 72px
$space-8: calc(5 * #{$space__unit}); // 80px

$space-9: calc(6 * #{$space__unit}); // 96px
$space-10: calc(7 * #{$space__unit}); // 112px

/* Layout, width and gap */
$grid__gap: 2rem;
$grid__gap-row: -$grid__gap;