/* COLORS */
$primary-colors: (
    primary: #663399,
    primary-100: #320055,
    primary-80: #7E599C,
    primary-60: #9F82B5,
    primary-40: #BEACCE,
    primary-20: #DFD5E6,
);

$secondary-colors: (
    secondary: #c2185b,
);

$text-colors: (
    body-main: #212121,
    body-medium: #76787C,
    body-link: #c2185b,
    body-link--hover: #663399,
    body-white: white,
);

$feedback-colors: (
    color-error: #f5414f,
    color-warning: #ffd137,
    color-success: #88c459,
);


$background-colors: (
    white: white,
    gray: #c4cdd5,
    gray-dark: #949ba5,
    ligth: #F7F4F9,
    dark: #212121,
);

// Function to merge all maps in a collection
@function map-collect($maps...) {
    $collection: ();
  
    @each $map in $maps {
      $collection: map-merge($collection, $map);
    }
    @return $collection;
}

$allColors: map-collect($primary-colors, $secondary-colors, $text-colors, $background-colors, $feedback-colors); 
$gutenbergColors: map-collect($primary-colors, $secondary-colors, $background-colors, $feedback-colors); 

// Get a value from map. How to use: .class { color: color(primary) } 
@function color($key) {
    @return map-get($allColors, $key);
}

/* Border radius */
$border__radius: 6px;

/* Fonts */
$font__main: 'Exo', sans-serif;
$font__heading: 'Exo', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-header: 1.2;
$font__line-height-pre: 1.6;


/* set base value. You can change this value */
$space__unit: 1rem;

/* space scale */
$space-05: calc(0.5 * #{$space__unit}); // 8px
$space-1: $space__unit; // 16px
$space-2: calc(1.5 * #{$space__unit}); // 24px
$space-3: calc(2 * #{$space__unit}); // 32px
$space-4: calc(2.5 * #{$space__unit}); // 40px

$space-5: calc(3.5 * #{$space__unit}); // 56px
$space-6: calc(4 * #{$space__unit}); // 64px
$space-7: calc(4.5 * #{$space__unit}); // 72px
$space-8: calc(5 * #{$space__unit}); // 80px

$space-9: calc(6 * #{$space__unit}); // 96px
$space-10: calc(7 * #{$space__unit}); // 112px

/* Layout, width and gap */
$grid__gap: 2rem;
$grid__gap-row: -$grid__gap;