html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: color(body-white); /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: color(primary-20);
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}


img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

.bagde {
	display: inline-block;
	vertical-align: middle;
	padding: .25rem 1rem;
	color: #fff;
	border-radius: $border__radius;
	background-color: color(primary)-dark;
	font-size: 80%;

	&--success {
		background-color: color(color-info);
	}

	&--error {
		background-color: color(color-error);
	}
}
a.bagde {
	margin: 0 $space-05 $space-05 0;
	cursor: pointer;
	color: color(body-white);
	&:hover{
		background-color: color(secondary);
		color: color(body-white);
	}
}

.divider {
    height: $space-05;
    background-color: color(primary);
    max-width: 168px;
    margin-bottom: $space-4;
    margin-top: $space-3;

}
