input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
	color: var(--smn--color--body-main);
	border-radius: 4px;
	padding: $space-05;
	width: 100%;
	//background-color: var(--smn--color--primary);
	border: solid 1px var(--smn--color--light);

	&:focus {
		border: solid 1px var(--smn--color--primary);
	}

	&.error {
		border: 1px solid var(--smn--color--error);
	}
}

span.error {
	color: var(--smn--color--error);
}

input[type="submit"] {
	font-size: 100%;
}




