a:not(.btn):not(.wp-block-button__link):not(.wp-block-file__button) {
	color: var(--smn--color--body-link);
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: var(--smn--color--body-link--hover);
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
