#ToC {
    position: sticky;
    top: $space-3;

    a {
        color: color(body-main);
		@include font-size(1);
        &:hover {
            color: color(body-link);
        }
    }
}

/***
An accessible menu for WordPress
Based on https://github.com/argenteum/accessible-nav-wp
***/

/* Screen readers */
.screen-readers {
	position: absolute !important;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	word-break: normal !important;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.site-header-menu {
	display: block;
	overflow: auto;
	
	@include breakpoint(tablet) {
		display: none;
	}
}
  
.main-navigation {
	position: relative;
    margin-top: $space-8;
    @include breakpoint(tablet) {
        margin-top: $space-3;
    }
		
	ul {	
		list-style: none;
        margin: 0;
		@include font-size(1.25);
        
        & > li {
            position: relative;
            padding-bottom: $space-2;
        }
    
        a {
            color: color(body-main);
            display: block;
            &:hover { color: color(primary); }
        }
	}

	ul ul {
		display: none;
		width: 100%;
	    margin-left: 0;
        margin-top: $space-2;
		@include font-size(1);
	}

	ul ul ul {
		display: none;
	}
	
	.dropdown-toggle {
		position: absolute;
		text-align: center;
		cursor: pointer;
        top: 0;
        right: 0;
        width: $space-3;
        height: $space-3;
			
		&::after {
			display: block;
            content: url(./assets/icons/plus.svg);
           
		}

		&.toggled-on:after {
			content: url(./assets/icons/minus.svg);
		}
	}
			
	.current_page_item > a,
	.current-menu-item > a {
		color: color(primary);
	}

}
  
/* Show menu-button on mobile */
button.menu-button {
	display: none;

	&::before{
		content: "\2261";
	}

	&.toggled-on:before {
		content: "\2212";
	}

	@include breakpoint(tablet) {
		display: block;
		position: absolute;
		top: .5em;
		right: 1.75em;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}