// Custom Buttons
.wp-block-button:not(.is-style-with-icon) .wp-block-button__link{
	@include button;
    padding: 0.65rem $space-md;
}

.wp-block-button__link {
    @include btn(secondary__fill);

	&.has-primary-background-color {
		@include btn(primary__fill);
	}
	&.has-secondary-background-color {
		@include btn(secondary__fill);
	}
	&.has-dark-background-color {
		@include btn(dark__fill);
	}
	&.has-white-background-color {
		@include btn(white__fill);
	}
	&.has-secondary-color {
		color: $color__secondary;
	}
	&.has-dark-color {
		color: $color__primary-dark;
	}
}

.is-style-outline .wp-block-button__link {
	@include btn(primary__outline);

	.has-background & {
		border: 2px solid $color__white;
	}

	&.has-primary-background-color {
		@include btn(primary__outline);
	}
	&.has-secondary-background-color {
		@include btn(secondary__outline);
	}
	&.has-dark-background-color {
		@include btn(dark__outline);
	}
	&.has-white-background-color {
		@include btn(white__outline);
	}
}