.is-style-card,
.is-style-card-link {
    border: 1px solid var(--smn--color--primary-20);
    padding: $space-2;
    position: relative;
    border-radius: $border__radius;
    width: 100%;
}

.is-style-card-link {
    box-shadow: 0 16px 24px 0 rgba(50,50,50,0.06);

    &:hover {
        border: 1px solid var(--smn--color--primary-40);
        box-shadow: 0 8px 10px 1px rgba(0,0,0,0.10), 0 3px 14px 2px rgba(0,0,0,0.10), 0 5px 5px -3px rgba(0,0,0,0.20);
    }

    &::after {
        content: '';
        background: url(./assets/icons/arrow-link.svg);
        background-size: $space-3 $space-3;
        width: $space-3;
        height: $space-3;
        position: absolute;
        top: $space-1;
        right: $space-1;
        z-index: 0;
    }

    a {
        color: initial;
    }

    a::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

.is-style-card {

    .card-img {
        border-radius: $border__radius $border__radius 0 0;
        img {
            border-radius: $border__radius $border__radius 0 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 12.75rem;
        }
    }
}