.is-style-card-link {
    border: 1px solid color(primary-20);
    padding: $space-2;
    position: relative;

    h2, h3, h4, h5, h6, p, ul, ol {
        margin-bottom: 0;
    }

    &::after {
        content: url(./assets/icons/arrow-link.svg);
        position: absolute;
        top: $space-1;
        right: $space-1;
    }

    a::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}