// Custom text colors
.has-primary-color {
	color: $color__primary;
}

.has-secondary-color {
	color: $color__secondary;
}

.has-ligth-color {
	color: $color__ligth;
}

.has-dark-color {
	color: $color__text-main;
}

.has-white-color {
	color: $color__white;
}


// Custom background colors
.has-primary-background-color {
	background-color: $color__primary;
	color: $color__white;
	a {color: $color__white; &:hover{color: $color__link;}}
}

.has-secondary-background-color {
	background-color: $color__secondary;
    a:not(.wp-block-button__link){color: $color__white;}
}

.has-dark-background-color:not(a) {
	background-color: $color__primary-dark;
	color: $color__white;
    
}

.has-ligth-background-color {
	background-color: $color__ligth;
}