// Custom text colors
.has-primary-color {
	color: color(primary);
}

.has-secondary-color {
	color: color(secondary);
}

.has-ligth-color {
	color: color(primary-20);
}

.has-dark-color {
	color: color(body-main);
}

.has-white-color {
	color: color(body-white);
}


// Custom background colors
.has-primary-background-color {
	background-color: color(primary);
	color: color(body-white);
	a {color: color(body-white); &:hover{color: color(body-link);}}
}

.has-secondary-background-color {
	background-color: color(secondary);
    a:not(.wp-block-button__link){color: color(body-white);}
}

.has-dark-background-color:not(a) {
	background-color: color(primary)-dark;
	color: color(body-white);
    
}

.has-ligth-background-color {
	background-color: color(primary-20);
}