/* Layout container */

.entry-content {

	& > [class*="wp-block-"]:not(.alignfull):not(.alignwide) {
		//@include container;
	}

	@for $index from 1 through 6 {
		h#{$index} {
			//@include container;
		}
	}

	& > [class*="wp-block-"]:not(.alignfull).alignwide {
		//margin-right: 1.5rem;
		//margin-left: 1.5rem;
	}

	.alignfull > .wp-block-group__inner-container {	
		@include container;
	}
	
}

.wp-block-columns {

	.wp-block-column.has-background {
		padding: $space-3;	
		margin-bottom: 0;

		h2, h3, h4, h5, h6, p, ul, ol {
			margin-bottom: 0;
		}
	}
}

.wp-block-group {

	&.has-background {
    	
		h2, h3, h4, h5, h6, p, ul, ol {
			margin-bottom: 0;
		}
	}

	.wp-block-columns {
		margin-bottom: 0;

		.wp-block-columns {
			margin-bottom: $space-4;
		}
	}
}