ul, ol {
	margin: 0;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal;
	li {
		padding-bottom: $space__unit;
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $space__unit;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $space__unit $space__unit;
}

ul.is-style-arrow-list {
	list-style: none;
	position: relative;
	padding: 0;

	li {
		display: flex;
		align-items: center; 
		padding-bottom: $space-4;
	}

	li:before{
		display: inline-flex;
		content: url('assets/icons/arrow-right.svg');
		height: .5rem;
		width: .5rem;
		padding-right: 1rem;
	}
}