.wp-block-quote {
	margin-top: $space-6;
	margin-bottom: $space-6;
	
	p {
		margin-bottom: .5em;
	}
	
	cite {
		font-size: 80%;
		font-weight: bold;
	}

	&.is-style-default::before {
		border-top: 4px solid color(primary);
		content: '';
		width: 168px;
		height: 8px;
		display: block;
	}

}