.wp-block-quote {
	margin-top: $space-6;
	margin-bottom: $space-6;
	border-color: var(--smn--color--primary);
	
	p {
		margin-bottom: .5em;
		font-size: 1.25rem;
	}
	
	cite {
		font-size: 80%;
		font-weight: bold;
	}

}